@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo ao nosso site de cafés...</h1>
    <p>Estamos aqui para te ajudar a escolher e desfrutar dos melhores cafés.</p>
    
    
</div>
